html {
    box-sizing: border-box;
    height: auto;
    width: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
*,
*::before,
*::after{
    box-sizing:inherit ;
    margin: auto;
    padding: auto;
}
body{
    align-items: center;
    background-color:#cc5252;
    display:flex;
    font-family: 'Dosis,sans-serif';
    font-display: swap;
    height: 10%;
    justify-content: center;
}
.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255,255, 0.75);
    border: 1px solid(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px  rgba(35, 35, 35, 0.1);
    color: #1a1601;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(35, 35, 35, 0.3);
    border: 1px solid(rgba(255,255,255,0.1));
    flex-basis: auto;
    height: 90%;
    width:auto;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}
.type{
    margin-bottom: 10%;
    text-align: center;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255,255, 0.75);
    border: 1px solid(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px  rgba(35, 35, 35, 0.1);
    color: #1a1601;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(35, 35, 35, 0.3);
    border: 1px solid(rgba(255,255,255,0.1));
    flex-basis: auto;
    height: 50%;
    width: 70%;
}
.DAD {
    border: none;
    background: #e0c7c7;
    text-align: center;
    border-radius: 10px;
    font-size: 50px;

}
.Dad input{
    margin-bottom: 2%;
    margin-top: 2%;
    border: none;
    background: #dad0d09f;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    font-size: 50px;
}
.MDice{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 5%;
}
.Sub{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid(rgba(255,255,255,0.1));
    border-radius: 16px ;
    box-shadow:0 4px 30px rgba(35,35,35,0.1);
    flex-basis: 20%;
    padding: 10px;
    font-style: inherit;
    font-size: 24px;
    height: 65px;
}
.Sub:hover{
    background-color: rgb(158, 163, 157);
    color: rgb(7, 7, 7);
}
.Sub:active{
    background-color: rgb(217, 69, 43);
    color: rgb(7, 7, 7);
}
.Add{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid(rgba(255,255,255,0.1));
    border-radius: 16px ;
    box-shadow:0 4px 30px rgba(35,35,35,0.1);
    flex-basis: 20%;
    padding: 10px;
    font-style: inherit;
    font-size: 24px;
    height: 65px;
}
.Add:hover{
    background-color: rgb(158, 163, 157);
    color: rgb(7, 7, 7);
}
.Add:active{
    background-color: aquamarine;
    color: rgb(7, 7, 7);
}
.screen{
    backdrop-filter: blur(5.5px) ;
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255,255, 0.75);
    border: 1px solid rgba(255,255,255,0,01);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(35, 35,35, 0.1);
    color: black; 
    font-size: 40px;
    overflow: auto;
    padding: 20px;
    text-align: center;
    width: 50%;
}
.custom{
    width: 90%;
    height: inherit;
}
.custom input {
    border: none;
    background: #dad0d09f;
    text-align: center;
    border-radius: 10px;
    width: inherit;
    font-size: 50px;
  }
.RBR{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.Roll{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid(rgba(255,255,255,0.1));
    border-radius: 16px ;
    box-shadow:0 4px 30px rgba(35,35,35,0.1);
    flex-basis: 20%;
    padding: 10px;
    font-style: inherit;
    font-size: 24px;
    height: 65px;
}
.Roll:hover{
    background-color: rgb(158, 163, 157);
    color: rgb(7, 7, 7);
}
.Roll:active{
    background-color: rgb(213, 59, 7);
    
}
.Type{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid(rgba(255,255,255,0.1));
    border-radius: 16px ;
    box-shadow:0 4px 30px rgba(35,35,35,0.1);
    flex-basis: 20%;
    padding: 10px;
    font-style: inherit;
    font-size: 24px;
    height: 65px;
}
.Type:hover{
    background-color: rgb(158, 163, 157);
}
.Type:active{
    background-color: aquamarine;
}
.hist{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255,255, 0.75);
    border: 1px solid(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px  rgba(35, 35, 35, 0.1);
    color: #1a1601;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(35, 35, 35, 0.3);
    border: 1px solid(rgba(255,255,255,0.1));
    text-align: center;
    flex-basis: 350px;
    height: 250px;
    padding-top: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.pastnum input{
    border: none;
    background: #f2f2f2;
    text-align: center;
    border-radius: 10px;
    width: 20%;
    font-size: 20px;
}
.double{
    flex-basis: 47%;
}
.triple{
    flex-basis: 75%;
}